:root {
    --header-color: #0084FD;
    --celestial-color: #B5DDFF;
    --purple-color: #9792E4;
    --bg-white: white;
    --grey-color: #5E7385;
}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */
body {
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
}

.fa-brands {
    margin-right: 0.8rem;
}

.icon {
    font-size: 5rem;
    color: var(--header-color);
}

.card {
    padding: 2rem;
}

.planning .card.bg-white,
.testimonials .card.bg-purple {
    border-radius: 40px;
    padding: 1.5rem;
}

/* UTILITIES */
.btn {
    display: inline-block;
    padding: 0.3rem 0.7rem;
    border-radius: 25px;
    text-align: center;
}

.bg-purple {
    background-color: var(--purple-color);
}

.bg-white {
    background-color: var(--bg-white);
}

.bg-blue {
    background-color: var(--header-color);
}

.txt-purple {
    color: var(--purple-color);
}

.txt-black {
    color: black;
}

.txt-white {
    color: white;
}

.txt-center {
    text-align: center;
}

.txt-uppercase {
    text-transform: uppercase;
}

.txt-bold {
    font-weight: bold;
}

/* LAYOUT */
.container {
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: var(--header-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 80px;
}

ul {
    display: none;
}

ul li {
    padding-left: 1.5rem;
}

/* media query header */
@media screen and (min-width: 992px) {
    ul {
        display: flex;
    }

    .hamburger {
        display: none;
    }
}

/* MAIN */
/* demo application section */
.application .col {
    border-radius: 20px;
    margin: 2rem 0;
    background-color: var(--celestial-color);
    /* debug */
    border: 1px solid red;
}

.application .col.small {
    text-align: center;
}

.application h3, 
.application p,
.application a,
.application i {
    margin-bottom: 1.5rem;
}

.application h3 {
    color: var(--header-color);
}

.application p {
    font-weight: bold;
    color: var(--grey-color);
}

.application a {
    width: 80%;
}

/* media query application section */
@media screen and (min-width: 768px) {
    .application .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .application .col {
        width: calc(100% / 3 - (40px / 3));
        margin: 0;
    }

    .application .col.large {
        width: calc(100% / 3 * 2 - (20px / 3));
    }

    .application .card-img {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .application .col.large .card {
        display: flex;
    }

    .application .card-img {
        width: 100%;
    }

    .application .col {
        margin: 0;
    }
}

/* strategic planning section */
.planning {
    background-color: var(--purple-color);
    color: white;
    padding: 2rem 0;
}   

.planning img,
.planning h3,
.planning h2,
.planning p {
    margin-bottom: 1.5rem;
}

.planning h3 + p {
    font-style: italic;
}

.arrow-container {
    display: flex;
    justify-content: center;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--purple-color);
    border-radius: 50%;
    
}

@media screen and (min-width: 992px) {
    .planning .row {
        display: flex;
    }  

    .planning .row.container {
        width: 65%;
        margin: 0 auto;
    }

    .planning .col {
        display: flex;
        align-items: flex-end;
    }

    .planning .card {
        padding: 3rem;
    }

    .planning .card.bg-white img {
        width: 60%;
    }

    .planning {
        padding: 6rem 0;
    }

    .planning h2 {
        padding-top: 6.5rem;
    }
}

/* testimonials section */
.testimonials p,
.testimonials h2,
.testimonials .card-img {
    margin-bottom: 1rem;
}

.card-img {
    
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
    height: 180px;
    width: 180px;
}

.test1 {
    background-image: url(../img/testimonial1.jpg);
}

.test2 {
    background-image: url(../img/testimonial2.jpg);
}

.test3 {
    background-image: url(../img/testimonial3.jpg);
}

.testimonials p {
    line-height: 1.7rem;
}

.testimonials .col {
    margin-bottom: 1.5rem;
}
