:root {
    --header-color: #0084FD;
    --celestial-color: #B5DDFF;
    --purple-color: #9792E4;
    --bg-white: white;
    --grey-color: #5E7385;
}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */
body {
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
}

.fa-brands {
    margin-right: 0.8rem;
}

.icon {
    font-size: 5rem;
    color: var(--header-color);
}

/* UTILITIES */
.btn {
    display: inline-block;
    padding: 0.3rem 0.7rem;
    border-radius: 25px;
    text-align: center;
}

.bg-white {
    background-color: var(--bg-white);
}

.bg-blue {
    background-color: var(--header-color);
}

.txt-black {
    color: black;
}

.txt-white {
    color: white;
}

/* LAYOUT */
.container {
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: var(--header-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 80px;
}

ul {
    display: none;
}

ul li {
    padding-left: 1.5rem;
}

/* media query header */
@media screen and (min-width: 992px) {
    ul {
        display: flex;
    }

    .hamburger {
        display: none;
    }
}

/* MAIN */
/* demo application section */
.col {
    border-radius: 20px;
    margin: 2rem 0;
    background-color: var(--celestial-color);
    /* debug */
    border: 1px solid red;
}

.col.small {
    text-align: center;
}

.card {
    padding: 2rem;
}

.application h2, 
.application p,
.application a,
.application i {
    margin-bottom: 1.5rem;
}

.application h2 {
    color: var(--header-color);
}

.application p {
    font-weight: bold;
    color: var(--grey-color);
}

.application a {
    width: 80%;
}

/* media query application section */
@media screen and (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .col {
        width: calc(100% / 3 - (40px / 3));
        margin: 0;
    }

    .col.large {
        width: calc(100% / 3 * 2 - (20px / 3));
    }

    .card-img {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .col.large .card {
        display: flex;
    }

    .card-img {
        width: 100%;
    }

    .col {
        margin: 0;
    }
}